NEXT_PUBLIC_SUPABASE_URL=https://mtodomasbnbyxzwhaidq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im10b2RvbWFzYm5ieXh6d2hhaWRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk5MzUxNzYsImV4cCI6MjEwNTUxMTE3Nn0.Wrwcw_bIMB3TFGEBIPVzulxi6e97zDnJFsvjNgDOoPQ
